body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins',sans-serif;
    background: #070c24;
}

.banner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    background:#fff;
    margin: 20px;
}


.banner .box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #006dbc;
}
/*this makes nike text transparant*/
.banner .box::before{
    content: 'NIKE';
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000;
    opacity: 0.2;
    font-size: 8em;
    font-weight: 800;
}
.banner .box img {
    position: relative;
    width:700px;
    transform:rotate(-30deg);
}

.banner .details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}


.banner .details h2{
    margin:0;
    padding:0;
    font-size: 2.5em;
    line-height: 0.8em;
    color: #444;
}

.banner .details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #9991
}
.banner .details p{
  max-width: 85%;
margin-left: 15%;
color:#333;
font-size: 15px;

}
.banner .details h3{
    font-size: 2.5em;
    color: #a2a2a2;
}

.banner .details button {
    background: #006dbc;
    color: #fff;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600px;
    border-radius: 40px;
    float: right;
    cursor: pointer;
}


